[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "vim/.vim/pack/tpope/start/commentary"]
	path = vim/.vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/.vim/pack/tpope/start/fugitive"]
	path = vim/.vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/.vim/pack/tpope/start/surround"]
	path = vim/.vim/pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/.vim/pack/junegunn/start/fzf"]
	path = vim/.vim/pack/junegunn/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/junegunn/start/fzf.vim"]
	path = vim/.vim/pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/morhetz/start/gruvbox"]
	path = vim/.vim/pack/morhetz/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/yegappan/opt/lsp"]
	path = vim/.vim/pack/yegappan/opt/lsp
	url = https://github.com/yegappan/lsp
[submodule "vim/.vim/pack/tpope/start/sleuth"]
	path = vim/.vim/pack/tpope/start/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "vim/.vim/pack/Ashik80/start/VimExplorer"]
	path = vim/.vim/pack/Ashik80/start/VimExplorer
	url = https://github.com/Ashik80/VimExplorer.git
[submodule "vim/.vim/pack/wakatime/start/vim-wakatime"]
	path = vim/.vim/pack/wakatime/start/vim-wakatime
	url = git@github.com:wakatime/vim-wakatime.git
[submodule "tmux/.tmux/plugins/tmux-pain-control"]
	path = tmux/.tmux/plugins/tmux-pain-control
	url = git@github.com:tmux-plugins/tmux-pain-control.git
[submodule "vim/.vim/pack/tpope/start/unimpaired"]
	path = vim/.vim/pack/tpope/start/unimpaired
	url = https://tpope.io/vim/unimpaired.git
[submodule "vim/.vim/pack/tpope/start/repeat"]
	path = vim/.vim/pack/tpope/start/repeat
	url = https://tpope.io/vim/repeat.git
